:root {
  --text-primary: #ffffff;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: var(--text-primary);
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 19px;
  }
}
@media screen and (max-width: 900px) {
  html,
  body {
    font-size: 17px;
  }
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
