.input {
  width: 100%;
  height: 3rem;
  padding: 1rem;
  border: none;
  background: var(--bg-input);
  color: var(--text-input);
  border-radius: 5px;
  border: 1px solid hsl(240, 44%, 52%);
}
.input::placeholder {
  color: var(--placeholder-input);
  font-family: Lexend;
}
.input:focus {
  outline: none;
  border: 2px solid cyan;
}
