@media screen and (max-width: 800px){
   
    
    body{
        background-image: url(../img/hacker-image.png);
    }
    .title{
    display: flex;
    margin-left: 5%;
    margin-top: 2%;
    }
    .h1{
        color: white;
        font-size: 22px;
    }
    .h2{
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 35px;
        font-weight: bold;
    }
    .second-page{
        margin-left: 65%;
        text-decoration: none;
        background-color: red;
        width: 8%;
        padding: 12px 12px 12px 12px;
        border-radius: 15px;
        color: white;
        text-align: center;
        font-size: 25px;
        transition: 2s;
    }
    .second-page:hover{
        transform: scale(1.1);
        transition: 1s;
    }
    .div-center{
        background: linear-gradient(to right, rgb(221, 8, 8), rgb(145, 30, 30));
        width: 90%;
        height: 300px;
        margin-top: -17%;
        margin-left: 4%;
        border-radius: 9px;
    }
    .label-input{
        margin-top: 100px;
    }
    .input{
        margin-top: 180px;
    }
    #size{
        margin-top: 10%;
        margin-left: 8%;
        width: 260px;
        font-size: 14px;
        height: 7%;
        border-radius: 9px;
        padding: 12px;
    }
    #text{
        margin-top: 2%;
        margin-left: 8%;
        width: 260px;
        font-size: 14px;
        height: 7%;
        border-radius: 9px;
        padding: 12px;
    }
    button{
        background-color: black;
        color: white;
        padding: 8px 8px 8px 8px;
        margin-left: 12%;
        margin-top: 4%;
        width: 32%;
        border-radius: 15px;
        transition: 2s;
    }
    
    button:hover{
        transform: scale(1.1);
        transition: 1s;
    }
    .sobre{
        background: linear-gradient(to right, rgb(221, 8, 8), rgb(145, 30, 30));
        width: 40%;
        height: 350px;
        margin-top: 12%;
        margin-left: 32%;
        border-radius: 9px;
        }
        .justify{
            width: 90%;
        }
    .p{
        color:#fff;
        margin-left: 5%;
        margin-top: 10%;
        font-size: 20px;
        width: 100%; 
        text-align: center; 
        text-align: justify;
    }
    .there-page{
        margin-left: 10%;
        margin-top: 14%;
        text-decoration: none;
        background-color: red;
        width: 8%;
        padding: 12px 12px 12px 12px;
        border-radius: 15px;
        color: white;
        text-align: center;
        font-size: 25px;
        transition: 2s;
    }
    .there-page:hover{
        transform: scale(1.1);
        transition: 1s;
    }
    .second-link{
        margin-top: 2%;
        transition: 1s;
    }
    .resultado{
       margin-left: 4%;
       background-color: rgb(156, 23, 23);
       margin-top: 15px;
       width: 82%;
       font-size: 20px;
       padding: 18px 15px 18px 12px;
       border-radius: 12px;
       color: white;
       transition: 2s;
       box-shadow: 0 5px 14px red;
    }
    .resultado:hover{
        transform: scale(1.0);
        transition: 2s;
        box-shadow: 0 5px 14px red;
    }
    #result{
        font-weight: bold;
    }
    #imprimir_descript{
        margin-top: 12px;
        font-weight: bold;
    }
}