:root {
  --bg-main: hsl(218, 44%, 12%);
  --bg-input: hsl(218, 44%, 22%);
  --text-input: #000;
  --placeholder-input: #7c7c8a;
  --bg-button: hsl(218, 44%, 30%);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px auto auto 50px;
  grid-template-areas:
    "header"
    "main"
    "result"
    "footer";
  padding: 0 20px;
}

.title-main {
  font-size: 2rem;
  font-weight: 700;
  align-self: center;
}

.main {
  grid-area: main;
  margin: 0 0.5rem;
}

.container-form {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  padding: 4rem 0;
  gap: 25px;
  max-width: 40rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  background-color: var(--bg-main);
  border-radius: 5px;
  padding: 2rem 1rem;
}
