.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px minmax(400px, 1fr) auto 50px;
  grid-template-areas:
    "header"
    "main"
    "result"
    "footer";
}
.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  grid-area: header;
}
.title-header {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}
.toggle-menu {
  display: none;
}
.title-main {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 700;
  align-self: center;
}

.main {
  grid-area: main;
}

.container-form {
  max-width: 40rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  padding: 0 4px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  background-color: #5a8699;
  border-radius: 5px;
  padding: 0 5px;
}
.input {
  width: 100%;
  height: 2.5rem;
  padding: 1rem;
  border: none;
  background: hsl(218, 44%, 22%);
  color: #ffffff;
  border-radius: 5px;
}
.input::placeholder {
  color: #ffffff;
}
.navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: end;
  flex: 1;
}
.navbar button {
  background-color: transparent;
  border: none;
}
.result {
  background-color: rgb(156, 23, 23);
  font-size: 1.5rem;
  border-radius: 5px;
  color: white;
}
